.button {
  min-width: 100px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: capitalize;
  color: white;
  background-color: #888;
  transition: box-shadow var(--animation);
}

.button:not(:last-child) {
  margin-right: 50px;
}

.button:hover {
  box-shadow: var(--shadow);
}

.good,
.neutral,
.bad {
  composes: button;
}

.good {
  background-color: #4d8679;
}

.neutral {
  background-color: #4d5467ee;
}

.bad {
  background-color: #f07878;
}
