.statistics {
  width: 100%;
  margin-bottom: 30px;
}

th,
td {
  width: calc(100% / 3);
  height: 30px;
  font-weight: 400;
}

td {
  font-size: 20px;
  font-weight: 500;
}

.total {
  text-align: right;
}

.total span {
  display: inline-block;
  width: 30px;
  font-size: 20px;
  font-weight: 500;
}
